/* Resetear algunos estilos por defecto del navegador */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Estilos generales */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  header, nav, main, footer {
    padding: 20px;
  }
  
  /* Estilos del encabezado */
  header {
    background-color: #333;
    color: white;
    text-align: center;
  }
  
  /* Estilos de la barra de navegación */
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
  }
  
  /* Estilos del contenido principal */
  main {
    background-color: #f4f4f4;
  }
  
  /* Estilos del pie de página */
  footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  /* Estilos para pantallas más pequeñas */
  @media(max-width: 768px) {
    nav ul {
      flex-direction: column;
      align-items: center;
    }
  }
  /* Estilos de la imagen */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  